<h2>Quản lý danh bạ</h2>
<table class="table table-striped">
  <thead>
    <th>ID</th>
    <th>Tên</th>
    <th>Số điện thoại</th>
    <td></th>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.id %></td>
        <td><%= contact.name %></td>
        <td><%= contact.phonenumber %> </td>
        <td>
          <%= link_to 'Xem', contact_path(contact), class: 'btn btn-default btn-sm' %>
          <%= link_to 'Sửa', edit_contact_path(contact), class: 'btn btn-warning btn-sm' %>
          <%= link_to 'Xoá', contact_path(contact), method: :delete, data: { confirm: 'Bạn có muốn xoá bài này không?' }, class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @contacts %>
<p>
  Download:
  <%= link_to "CSV", my_contacts_path(format: "csv") %> |
  <%= link_to "Excel", my_contacts_path(format: "xls") %>
</p>