<div class="dropdown" >
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <h4 class="category">Danh Bạ Online</h4><span class="caret"></span>
  </a>
  
  <ul class="dropdown-menu">
    <li  style="background-color: #fff">
      <%= link_to homes_amthuc_path do %>
        <span class="glyphicon glyphicon-glass" aria-hidden="true"></span> ẨM THỰC - NHÀ HÀNG
      <% end %>
    </li>
    <li>
      <%= link_to homes_nhanghi_path do %>
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span> NHÀ NGHỈ - KHÁCH SẠN
      <% end %>
    </li>
    <li>
      <%= link_to homes_thoitrang_path do %>
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> THỜI TRANG - SHOPPING
      <% end %>
    </li>
    <li>
      <%= link_to homes_thethao_path do %>
        <span class="glyphicon glyphicon-music" aria-hidden="true"></span> CAFE - GIẢI TRÍ - THỂ THAO
      <% end %>
    </li>
    <li>
      <%= link_to homes_yte_path do %>
        <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> Y TẾ - SỨC KHỎE
      <% end %>
    </li>
    <li>
      <%= link_to homes_dienmay_path do %>
        <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> ĐIỆN MÁY - MUA SẮM
      <% end %>
    </li>
    <li>
      <%= link_to homes_noithat_path do %>
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> CÔNG NGHỆ - NỘI THẤT - VLXD
      <% end %>
    </li>
    <li>
      <%= link_to homes_giaoduc_path do %>
        <span class="glyphicon glyphicon-book" aria-hidden="true"></span> GIÁO DỤC - ĐÀO TẠO
      <% end %>
    </li>
    <li>
      <%= link_to homes_vanhoa_path do %>
        <span class="glyphicon glyphicon-camera" aria-hidden="true"></span> VĂN HÓA - DU LỊCH
      <% end %>
    </li>
    <li>
      <%= link_to homes_nongnghiep_path do %>
        <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> NÔNG NGHIỆP - TRANG TRẠI
      <% end %>
    </li>
    <li>
      <%= link_to homes_taichinh_path do %>
        <span class="glyphicon glyphicon-gbp" aria-hidden="true"></span> KINH TẾ - TÀI CHÍNH
      <% end %>
    </li>

  </ul>
</div>
